// Color
$primary-color: #15548D;
$secondary-color: #FAC568;
$dark: #1a1a1a;
$bg-light-blue: #f7f8fd;

// Logo
$logo-primary: url('https://res.cloudinary.com/dm2n9z3qd/image/upload/v1705563382/logo-head-gwa_b09kgf.png');
$logo-white: url('https://res.cloudinary.com/dm2n9z3qd/image/upload/v1705562919/logo-gwa_eod2b3.png');

// content width
$content-width: 1000px;