@import '../variables';
@import '../components/subheadlines';
@import '../components/button';

.container {
    gap: 48;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact {
    background-color: white;
    margin: 83px auto;
    padding: 65px 0;
    gap: 20px;
    align-items: center;
    
  
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 48px;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
  
      .message-inner {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }
  
        .form-right{
            width: 518px;
            background-color: $bg-light-blue;
            display: flex;
            border-radius: 20px;
            flex-direction: column;
            padding: 35px;
            form {
                align-items: center;
                justify-items: center;
                align-content: center;
                gap: 29px;
                .form-group {
                    gap: 10px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 29px;
                    label {
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 500;
                    }
        
                    input {
                        border-radius: 12px;
                        border: 1px solid #CCC;
                        background: #FFF;
                        display: flex;
                        padding: 14px 18px;
                        align-items: center;
                        gap: 3px;
                        align-self: stretch;
                    }
                }
            }   
        }
    }
}
  
  p {
    color: $dark;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    align-self: stretch;
    line-height: 36px;
  }
  
