// Color
$primary-color: #15548D;
$secondary-color: #FAC568;

.workflow {
    background-image: url('https://res.cloudinary.com/dm2n9z3qd/image/upload/v1705640926/Vector_6_hv51ln.png');
    width: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    top: -145;
    background-size: 100%;
    height: 784px;
}

.header {
    margin: 0 auto;
    max-width: 1200px;
}

.section-tagline {
    gap: 14px;
    display: flex;
    margin-top: 90px;
    margin-bottom: 24px;
    align-items: center;
    .line {
        height: 4px;
        width: 40px; 
        background-color: $secondary-color;
        border-radius: 50rem; 
    }

    h6 {
        color: #1a1a1a;
        font-size: 17px;
        font-style: bold;
        font-weight: 500;
        text-transform: uppercase;
    }
}

h2 {
    margin-top: 24;
    color: #1a1a1a;
    font-size: 34px;
    font-weight: 600;
    word-wrap: break-word
}


.content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    .workflow-box {
        display: flex;
        gap: 4px;
        #satu {
            margin-top: 138px;
            width: 302px;
        
            .icon {
                transition: .3s;
                height: 83px;
                width: 83px;
                border-radius: 50%;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 27px;
                margin-bottom: 12px;
                user-select: none;
                box-shadow: 0 2.68613px 21.4891px #fff0de;
                img {
                    width: 96px;
                    height: 96px;
                    vertical-align: middle;
                }
            }
            .text {
                h6 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                    color: #333333;
                    font-size: 22px;
                    font-weight: 600;
                    font-style: bold;
                }
                p {
                    color: #333333;
                    font-size: 17px;
                    font-weight: 300;
                }
            }
            
        }
        
        #dua {
            margin-top: 57px;
            width: 302px;
        
            .icon {
                transition: .3s;
                height: 83px;
                width: 83px;
                border-radius: 50%;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 27px;
                margin-bottom: 12px;
                user-select: none;
                box-shadow: 0 2.68613px 21.4891px #fff0de;
                img {
                    width: 96px;
                    height: 96px;
                    vertical-align: middle;
                }
            }
            .text {
                h6 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                    color: #333333;
                    font-size: 22px;
                    font-weight: 600;
                    font-style: bold;
                }
                p {
                    color: #333333;
                    font-size: 17px;
                    font-weight: 300;
                }
            }
            
        }
        
        #tiga {
            margin-top: 95px;
            width: 302px;
        
            .icon {
                transition: .3s;
                height: 83px;
                width: 83px;
                border-radius: 50%;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 27px;
                margin-bottom: 12px;
                user-select: none;
                box-shadow: 0 2.68613px 21.4891px #fff0de;
                img {
                    width: 96px;
                    height: 96px;
                    vertical-align: middle;
                }
            }
            .text {
                h6 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                    color: #333333;
                    font-size: 22px;
                    font-weight: 600;
                    font-style: bold;
                }
                p {
                    color: #333333;
                    font-size: 17px;
                    font-weight: 300;
                }
            }
            
        }
        
        #empat {
            margin-top: -10px;
            width: 302px;
        
            .icon {
                transition: .3s;
                height: 83px;
                width: 83px;
                border-radius: 50%;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 27px;
                margin-bottom: 12px;
                user-select: none;
                box-shadow: 0 2.68613px 21.4891px #fff0de;
                img {
                    width: 96px;
                    height: 96px;
                    vertical-align: middle;
                }
            }
            .text {
                h6 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                    color: #333333;
                    font-size: 22px;
                    font-weight: 600;
                    font-style: bold;
                }
                p {
                    color: #333333;
                    font-size: 17px;
                    font-weight: 300;
                }
            }
            
        }
    }
}

