// Color
$primary-color: #15548D;
$secondary-color: #FAC568;
$dark: #1a1a1a;

button {
    outline: none;
}

.hero-text__button {
    margin-top: 32px;
    color: #1a1a1a;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    word-wrap: break-word;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #FAC568;
    border-radius: 1000px;
    width: 402px;
    height: 74px;
    gap: 10px;
   }